<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="{{ url_for('static',filename='images/school-bus.png') }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Bus Info</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"
  />
  <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"
  />
</head>


<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a href="http://127.0.0.1:5000"><img id="logo-container" href="#" src="{{ url_for('static',filename='images/school-bus2.png') }}"  height="65" width="100" class="brand-logo"></img></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://127.0.0.1:5000/dateSel">Date</a></li>
        <li><a href="http://127.0.0.1:5000/lastStop">Last Stop</a></li>        
        <li><a href="http://127.0.0.1:5000/nextStop">Next Stop</a></li>
        <li><a href="http://127.0.0.1:5000/speed">Speed</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="http://127.0.0.1:5000/dateSel">Date</a></li>
        <li><a href="http://127.0.0.1:5000/lastStop">Last Stop</a></li>        
        <li><a href="http://127.0.0.1:5000/nextStop">Next Stop</a></li>
        <li><a href="http://127.0.0.1:5000/speed">Speed</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Bus Stops</h1>
      <div class="row center">
        <h5 class="header col s12 light">Bus info with Beacons Unicauca</h5>
      </div>
      <div class="row center">

      </div>



      <div class="container">
        <br>
        <form action="http://127.0.0.1:5000/date" method=POST>
          <div class="card">
            <div class="card-title">
              Pick a Date
            </div>
            <div class="card-content">
              <div class="input-field">
                <input id="fecha_ini" name="fecha_ini" type="text" class="datepicker" required />
                <label for="fecha_ini">date:</label>
              </div>
              <div class="card-content center">
                <button class="waves-effect waves-light btn-large orange center" type="submit" style="margin-top: 1em;">
                              <input type=hidden value="1" name="enviado">
                              <i class="material-icons left">search</i>
                              Search
                              </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Universidad del Cauca</h5>
        <p class="grey-text text-lighten-4">Making the guide 8</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Filters</h5>
        <ul>
          <li><a class="white-text" href="http://127.0.0.1:5000/dateSel">Date</a></li>
          <li><a class="white-text" href="http://127.0.0.1:5000/lastStop">Last Stop</a></li>          
          <li><a class="white-text" href="http://127.0.0.1:5000/nextStop">Next Stop</a></li>
          <li><a class="white-text" href="http://127.0.0.1:5000/speed">Speed</a></li>
        </ul>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/init.js') }}"></script>

</body>

</html>